.btn-secondary {
    margin-top: 10px;
    margin-bottom: 10px;
}

.course {
    min-width: 150px;
}

.logout {
    background-color: whitesmoke;
    min-width: 100px;
}

.panel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    min-width: 375px;
    text-align: center;
}
