#course_select {
    margin-top: 2rem;
}

.btn-light {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: white;
    border-color: lightgrey;
}

.course {
    min-width: 150px;
}

.logout {
    background-color: whitesmoke;
    min-width: 100px;
}
