html, body {
        background-color: #f5f5f5;
}

#row {
        margin-top: 23%;
}
#form-container {
        border-style: solid;
        background-color: white;
        border-radius: 10px;
        padding: 23px;
        border-color: #A9A9A9;
        border-width: thin;
}

