span {
    display: block;
    padding-left: 5px;
}

p, h1, h2 {
    padding-left: 10px;
}

.btn-secondary {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

table {
    table-layout: fixed;
    word-wrap: break-word;
}
