#student-landing {
    margin-top: 1rem;
}

.back {
    background-color: white;
    border-color: lightgrey;
}

.grade-table {
    word-wrap: break-word;
}

.table-row-clickable {
  color: inherit;
}

.table-row-clickable:hover {
  color: inherit;
  text-decoration: inherit;
}
