{% extends 'layout.html.j2' %}
{% block head %}
{% endblock %}

{% block body %}
<div class="container pt-4">
  <div class="row">
    <div class="col-sm">
      <div class="card text-center mx-auto">
        <div class="card-header">
          <strong>Assignments for {{ course_name }}</strong>
        </div>
        <div class="card-block"><br>
          <p class="card-text">Which assignment would you like to view?<p>
          {% for assignment in assignment_list %}
            <a class="btn btn-light course border w-25 m-1" href="{{ url('scoring_view', kwargs={'course_number': assignment.course.course_number, 'assignment_name': assignment.display_name}) }}" role="button">{{ assignment }}</a><br>
          {% endfor %}
          <a class="btn btn-light px-5 border m-1" href="{{url('course_list')}}" role="button">Back</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
