{% extends 'layout.html.j2' %}
{% block head %}
<link rel="stylesheet" href="{{ static('core/courses.css') }}">
{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card text-center mx-auto" id="course_select">
        <div class="card-header">
          <strong>Assignments for {{ course_name }}</strong>
        </div>
        <div class="card-block"><br>
          <p class="card-text">Which assignment would you like to view?<p>
          {% for assignment in assignment_list %}
            <a class="btn btn-light course" href="{{ url('scoring_view', kwargs={'course_number': assignment.course.course_number, 'assignment_name': assignment.display_name}) }}" role="button">{{ assignment }}</a><br>
          {% endfor %}
          <a class="btn btn-light logout" href="../login" role="button">Logout</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
