{% extends 'layout.html.j2' %}

{% block title %}
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ static('core/grade.css') }}">
{% endblock %}

{% block body %}

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Jumbograde</a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Help</a>
      </li>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 sidebar text-left bg-light" id="sidebar-left">
      Assignments
    </nav>
    <div class="col-md-8 text-center" id="content">
      <h1 class="display-4">
        Grade an Assignment
      </h1>
      <br>
      <button type="button" class="btn btn-primary toggle-sidebar-left">Toggle Left</button>
      <button type="button" class="btn btn-primary">Hit Me</button>
      <button type="button" class="btn btn-primary toggle-sidebar-right">Toggle Right</button>
    </div>
    <nav class="col-md-2 sidebar text-right bg-light" id="sidebar-right">
      Statistics   
    </nav>
  </div>
</div>

<script src="{{ static('core/grade.js') }}" type="text/javascript"></script>
{% endblock %}
