{% extends 'layout.html.j2' %}

{% block head %}
{# This comment does not get ouput to the html. #}

<link rel="stylesheet" type="text/css" href="static/core/login.css"/>
{% endblock %}

{% block body %}
<form id="login-form">
    <div class="form-group">
        <label for="inputEmail">Email</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
    <div class="checkbox">
        <label><input type="checkbox"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>

{% endblock %}