{% extends 'layout.html.j2' %}

{% block head %}
{# This comment does not get ouput to the html. #}
<!-- This comment does. Any html here would be output within the head block of the parent template. -->
<link rel="stylesheet" type="text/css" href="{{ static('core/test_styles.css') }}">
{% endblock %}

{% block body %}
Hello World!
{% endblock %}
